dist: xenial

services:
  - docker

language: go

env:
  - GO111MODULE=on CGO_ENABLED=0

go:
  - 1.12.x

git:
  depth: 1

install: false

script:
  - go build 
  - go test github.com/marmotherder/mimir/clients
  - docker build -t marmotherder/mimir:latest .

deploy:
  provider: script
  script: bash docker_push.sh
  on:
    branch: master
